extends ./layout/index

block contenido
    main.contenedor
        section(style=`background-image: url('/img/img-${resultado.imagen}.jpg')`).articuloInfo
            .textosInfo
                h3= resultado.titulo
                p 
                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='#eb8056' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round')
                        path(d='M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0')
                        path(d='M3 6m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z')
                        path(d='M18 12l.01 0')
                        path(d='M6 12l.01 0')
                        
                    | #{resultado.precio.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')} $

                p
                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='#eb8056' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round')
                        path(d='M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z')
                        path(d='M16 3l0 4')
                        path(d='M8 3l0 4')
                        path(d='M4 11l16 0')
                        path(d='M8 15h2v2h-2z')
                    | #{resultado.fecha_ida} - #{resultado.fecha_vuelta}
                
                p
                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='#eb8056' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round')
                        path(d='M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0')
                        path(d='M16 19h6')
                        path(d='M19 16v6')
                        path(d='M6 21v-2a4 4 0 0 1 4 -4h4')
                    |#{resultado.disponibles} disponibles
                .textosDescripcion
                    p= resultado.descripcion
                a(href="#").comprar Comprar voleto
        if(testimoniales)
            h4 Personas que nos recomiendan
            .testUs
                each testimonial in testimoniales
                    article.coment
                        svg(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 24 24' fill='none' stroke='#eb8056' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4')
                        p.parrafo #{testimonial.mensaje}
                        p.nombreUser  #
                            span #{testimonial.nombre}