extends ./layout/index

block contenido
    section.viajes
        .textos
            h2 Embarcate en una nueva aventura.
            p estas son nuestas 
                span Ofertas imperdibles!
            hr
        div.contenedor
            each item in items
                article.articulo
                    img(src= `img/img-${item.imagen}.jpg`, alt= item.titulo, loading="lazy")
                    p(class="titulo")= item.titulo
                    p.precio coste: 
                        span= `${item.precio.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')} $`
                    p.fechas
                        svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 24 24' fill='none' stroke='#eb8056' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z')
                            path(d='M16 3l0 4')
                            path(d='M8 3l0 4')
                            path(d='M4 11l16 0')
                            path(d='M8 15h2v2h-2z')
                        | #{item.fecha_ida} - #{item.fecha_vuelta}
                    a(href=`viajes/${item.slug}`).ir Mas Info.

